
.product_container
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin:5vw;
}
.product_row
{
    padding:5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
